<a href="https://colab.research.google.com/github/bangjaia/Data-Science-and-Analysis/blob/main/Python%20NumPy%26Pandas%20Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 함수 f(x)를 생성하고 x 값을 입력으로 받음
def f(x):
  # x에 10을 더한 값을 출력
  return x + 10

In [ ]:
f(3)

In [ ]:
# 내장함수 예 : input
strText = input("아무 문장이나 입력하세요 : ")
print(strText)

In [ ]:
# List를 이용한 다차원 배열
flVal = [1.0, 2.0, 3.14, 4.2, 5.1]  # 실수 list를 생성

In [ ]:
# flVal 3개를 리스트로 구성하여 arVal 다차원 배열을 생성
arVal = [flVal, flVal, flVal]
arVal

In [ ]:
# arVal은 다차원 배열이므로, arVal[n] 인덱스 연산을 통해 n차원 배열 값을 출력
arVal[0]

In [ ]:
arVal[1]

In [ ]:
arVal[1][2]

In [ ]:
# 1 차원 값을 변환하여 다른 값을 대입 했을때의 다차원 배열
arVal[0] = 'python'
arVal

In [ ]:
arVal[0][2]

In [ ]:
arVal[0] = 'python programming'
arVal

In [ ]:
# numpy 패치지를 import 
import numpy as np
arData = np.array([1.0, 2.0, 3.14, 4.2, 5.1])
arData

In [ ]:
# 배열 각 요소의 합을 출력
arData.sum()

In [ ]:
arVal.sum()

In [ ]:
print(type(arVal))
print(type(arData))

In [ ]:
# 배열에 대한 표준편차 출력
arData.std()

In [ ]:
# 배열의 누적 합을 출력
arData.cumsum()

In [ ]:
arData * 2

In [ ]:
arData ** 2 # 2를 제곱

In [ ]:
# 루트를 적용한 값을 출력
np.sqrt(arData)

In [ ]:
arVal = np.array([arData, arData ** 2])
arVal

In [ ]:
arVal.sum(axis=0) # 축(axis)이 0일 경우 세로 축의 합을 출력

In [ ]:
arVal.sum(axis=1) # 축(axis)이 0일 경우 가로 축의 합을 출력

In [ ]:
# NumPy.array를 사용한 코드
np.array([[0,0,0],[0,0,0]])

In [ ]:
# NumPy.zeros를 사용한 코드
arZero = np.zeros((2,3), dtype = 'i') 
arZero

In [ ]:
# pandas import
import pandas as pd

pandas_series = pd.Series([30, 20, 10], index=['국어', '영어', '수학'])
print(type(pandas_series))
pandas_series

In [ ]:
pandas_series[1:]

In [ ]:
pandas_series[0]

In [ ]:
pandas_series[0][1]

In [ ]:
df = pd.DataFrame([30,20,10], columns=['score'], index=['국어', '영어', '수학'])
df

In [ ]:
# DataFrame의 index를 표시
df.index

In [ ]:
# DataFrame의 column을 표시
df.columns

In [ ]:
# DataFrame의index 중에서 국어에 해당하는 값을 출력
df.loc['국어']   # ix 함수가 최근 제거되어 loc를 써야 동작

In [ ]:
# DataFrame의 값을 모두 합한 결과를 출력
df.sum()

In [ ]:
# DataFrame의 각 colimn 값의 제곱을 출력
df.score ** 2

In [ ]:
# DataFrame에 score2 라는 칼럼을 추가하고 값을 입력
df['score2'] = (50, 50, 50)
df

In [ ]:
# DataFrame 함수를 이용하여 column을 추가할 수 있음
df['score2'] = pd.DataFrame([90,90,90], index=['국어', '영어', '수학'])
df

In [ ]:
# column 삭제
del df['score']

In [ ]:
# index 를 맞추기 않았을 경우
df['score2'] = (90, 90, 90, 100)

In [ ]:
# index 를 맞추기 않았을 경우
df['score2'] = pd.DataFrame([90, 90, 90, 100], index=['국어', '영어', '수학', '윤리'])
df

In [ ]:
# join() 함수를 이용하여 2개의 DataFrame을 하나로 합칠 수 있음
df1 = pd.DataFrame([1, 2, 3], columns = ['A'])
df2 = pd.DataFrame([10, 11, 12, 13], columns = ['B'])

df = df1.join(df2, how='outer')
df

In [ ]:
df_inner = df1.join(df2, how='inner')
df_inner

In [ ]:
# 난수를 이용한 임의의 값 생성
df = pd.DataFrame(np.random.randn(5,5))
df.columns = ['A', 'B', 'C', 'D', 'E']

df

In [ ]:
# 최대값
df.max()

In [ ]:
# 최소값
df.min()

In [ ]:
# 평균
df.mean()

In [ ]:
# 표준편차
df.std()

In [ ]:
# 누적값
df.cumsum()

In [ ]:
# DataFrame의 통계적 요약
df.describe()

In [ ]:
# Group by를 이용한 DataFrame의 그룹화
df['division'] = ['X', 'Y', 'X', 'Y', 'Z']
df

In [ ]:
df.groupby(['division']).mean()